.confirm-modal {
    font-family: 'Montserrat';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .confirm-modal-content {
    color: #e4efff;
    width: 450px;
    background-color: #0077cc;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
  }
  
  .confirm-modal-title {
    margin: 25px 0 30px 0;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #e4efff;
  }
  
  .confirm-modal-countdown {
    color: #0077cc;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .confirm-modal-button {
    background-color: #0581da;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;    
    transition: all 100ms ease-out;
  }
  .confirm-modal-button:hover {
    transition: all 150ms ease-in;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  .confirm-modal-input {
    width: 420px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 200ms ease-out;
    font-weight: 600;
    color: #0077cc;
    font-family: "Montserrat", sans-serif;
  }
  
  .confirm-modal-input:focus {
    transition: all 200ms ease-in;
    box-shadow: 0px 0px 19px 11px rgba(34, 60, 80, 0.2);
  }
  
  
  .confirm-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0077cc;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .confirm-modal-close-icon {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
  }
  
  .confirm-modal-user-mail {
    font-weight: 600;
    font-style: normal;
  }
  .confirm-modal-resend-link {
    font-family: 'Montserrat', sans-serif;
    color: #cdf7ff;
    text-decoration: underline;
    cursor: pointer;
  }
  .confirm-modal-resend {
    margin: 30px 0 12px 0;
  }